<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CloudCalorie Homepage</title>
	<link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/calorie.css">
</head>
<body>
	<header>
		<img src="/assets/cloud.png" alt="CloudCalorie">

	</header>

	<div id="banner">
        <img src="/assets/Home-banner.jpeg" alt="Banner Image">
        <div class="banner-content">
        <h1>Welcome to CloudCalorie</h1>
        </div>
    </div>

	<main>
        {{{ body }}}
    </main>

    {{!-- {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}   --}}

	{{#if logged_in}}
    <script src="/js/home.js"></script>
    {{/if}}

    {{#if logged_in}}
    <script src="/public/js/login.js"></script>
    {{/if}}

    {{#if logged_in}}
    <script src="/js/calorie.js"></script>
    {{/if}}

    <footer>
    <p>2023 CloudCalorie</p>
    </footer> 

</body>
</html>
