<!DOCTYPE html>
<html>
<head>
	<title>CloudCalorie Homepage</title>
	<link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/calorie.css">
</head>
<body>
	<header>
		<img src="/assets/cloud.png" alt="CloudCalorie">
        {{#if logged_in}}
        <a href="/profile">Profile</a>
		<button id="logout-btn">Log Out</button>
        {{else}}
        <a href="/login" id="logout-btn">Log in</a>
        {{!-- <button id="logout-btn">Log In</button> --}}
        {{/if}}
	</header>

	<div id="banner">
        <img src="/assets/Home-banner.jpeg" alt="Banner Image">
        <div class="banner-content">
        <h1>Welcome to CloudCalorie</h1>
        </div>
    </div>

	<main>
        {{{ body }}}
    </main>
	  
    <footer>
    <p>2023 CloudCalorie</p>
    </footer> 

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}  

	{{#if logged_in}}
    <script src="/js/home.js"></script>
    {{/if}}

    {{#if logged_in}}
    <script src="/js/login.js"></script>
    {{/if}}

    {{#if logged_in}}
    <script src="/js/calorie.js"></script>
    {{/if}}

</body>
</html>
