<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
	<header>
		<img src="/assets/cloud.png" alt="CloudCalorie">
		<button id="logout-btn">Log Out</button>
	</header>

	<div id="banner">
        <img src="/assets/Home-banner.jpeg" alt="Banner Image">
        <div class="banner-content">
        <h1>Welcome to CloudCalorie</h1>
        </div>
    </div>

	<section id="app-description">
		<p>Welcome to CloudCalorie! Please press the button below to navigate to the calorie entry page</p>
	</section>

<button id="calorieButton">Go to Calorie Page</button>
	  
    <footer>
    <p>2023 CloudCalorie</p>
    </footer>   

	<script src="/js/home.js"></script>
</body>
</html>