/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

/* Styles for header */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background-color: #f1f1f1;
}

header img {
	height: 75px;
}

#logout-btn {
	background-color: #00b3ff;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

/* Styles for hero banner */
#banner {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
  
  #banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
  }

body {
    margin: 0;
    background-color: #f2f2f2;
  }

#app-description {
    text-align: center;
    padding: 20px;
  }
  
.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
/* Styles for input section */
.input-section {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.input-section label {
	font-size: 24px;
	margin-bottom: 10px;
}

.input-section input {
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

#desc-input {
    width: 50%;
    height: 34px;
    padding: 4px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
#create-btn {
	background-color: #00b3ff;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

/* Set width of output section */
.output-section {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Style for banner elements */
  .banner {
    width: 75%;
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  /* Style for banner content */
  .banner p {
    margin: 0;
    font-size: 18px;
    line-height: 1.5;
  }
  
  /* Add margin to the top of the first banner element */
  .banner:first-child {
    margin-top: 20px;
  }

  footer {
    background-color: #00b3ff;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed; /* Updated property */
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 0; /* Added property */
  }

  #calorieButton {
    background-color: #00b3ff;
    color: white;
	  padding: 10px 20px;
	  border: none;
	  border-radius: 5px;
	  cursor: pointer;
    position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  
  
  
  
  
