/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#banner {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

#banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

body {
  background-color: #f2f2f2;
}

main {
  max-width: 960px;
  margin: 0 auto;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background-color: #f1f1f1;
}

header img {
	height: 75px;
}

#logout-btn {
	background-color: #00b3ff;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#app-description {
  text-align: center;
  padding: 20px;
}


#input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  text-align: center;
  padding: 20px;
}

label[for="food-name"], label[for="calories"], label[for="meal-type"], label[for="date"] {
  display: block;
  margin-bottom: 10px;
}

input[type="text"][id="meal-name"], input[type="number"][id="calories"], select[id="meal-type"], input[type="date"][id="date"] {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 35%;
}

#submit-btn {
  background-color: #00b3ff;
  color: #fff;
  border: none;
  justify-content: center;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

/* Calorie Log Styles */

#calorie-log {
  margin-top: 20px;
  padding: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 10px;
  border: 1px solid #ccc;
}

th {
  background-color: #00b3ff;
  color: #fff;
}

/* Calorie Counter Styles */

#calorie-count {
  text-align: center;
  padding: 20px;
  width: 14%;
  background-color: #00b3ff;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-size: 24px;
  font-weight: bold;
}

footer {
  background-color: #00b3ff;
  color: #fff;
  text-align: center;
  padding: 20px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}