/* Styles for header */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background-color: #f1f1f1;
}

header img {
	height: 75px;
}

#logout-btn {
	background-color: #00b3ff;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

/* Styles for hero banner */
.hero-banner {
	background-image: url('/assets/Home-banner.jpeg');
	background-size: cover;
	background-position: center;
	padding: 100px;
	text-align: center;
	color: white;
}

.hero-banner h1 {
	font-size: 48px;
	margin-bottom: 20px;
}

.hero-banner p {
	font-size: 20px;
}

body {
    margin: 0;
  }
  
.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
/* Styles for input section */
.input-section {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.input-section label {
	font-size: 24px;
	margin-bottom: 10px;
}

.input-section input {
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

#desc-input {
    width: 50%;
    height: 34px;
    padding: 4px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
#create-btn {
	background-color: #00b3ff;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

/* Set width of output section */
.output-section {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Style for banner elements */
  .banner {
    width: 75%;
    background-color: #F2F2F2;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  /* Style for banner content */
  .banner p {
    margin: 0;
    font-size: 18px;
    line-height: 1.5;
  }
  
  /* Add margin to the top of the first banner element */
  .banner:first-child {
    margin-top: 20px;
  }

  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  
  
  
